@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

@media screen and (min-width: 685px) {
  
body{
    background-color: hsl(217, 54%, 11%);
   height: 100vh;
    font-family: Outfit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


.component-container{
    background-color: hsl(216, 50%, 16%);
    height: 45rem;
    width: 25rem;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 1rem 1rem 1rem 1rem hsl(215, 54%, 7%);
}
.img{
    position: relative;
}
#equi-img{
    height: 100%;
    width: 100%;
    display: block;
    opacity: 1;
    object-fit: contain;
    border-radius: 1rem;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 255, 247, 0.3);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
.img:hover .image {
    opacity: 0.3;
    
  }
  
  .img:hover .middle {
    opacity: 1;
  
  }
  
.title{
    color:  hsl(0, 0%, 100%);
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1rem 0 1rem 0;

}
.title:hover{
    color: hsl(178, 100%, 50%);
}

.description{
    font-family: "Outfit";
    font-size: 1.3rem;
    line-height: 1.9rem;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
}
.eth-component{
   
display: flex;
justify-content: space-between;
padding: 2rem 0 1.3rem 0;
}
#eth{
    font-weight: 400;
    color: hsl(178, 100%, 50%);
    font-size: 1.2rem;
}
#days{
    color: hsl(215, 51%, 70%);
    font-size: 1.2rem;
}
.line{
    border: 1px solid hsl(215, 32%, 27%);
}
.bottom-component{
    padding: 1rem 0 1rem 0;
    display: flex;
    align-items: center;
    justify-content:start;
}

#profile-photo{
    width: 10%;
    border: 1px solid white;
    border-radius: 50% ;
    margin-right: 2rem;
   
}
#author{
    font-size: 1.2rem;
    
}
#blue{
    color: hsl(215, 51%, 70%);
}
#white{
    color: white;
}
#white:hover{
      color: hsl(178, 100%, 50%);
    
}


.attribution {
font-size: 11px; 
position: fixed;
bottom: 0;
font-size: 1.3rem;
color: white;
}
.attribution a {
 color: hsl(228, 45%, 44%);
font-size: 1.3rem;
 }

}
@media screen and (max-width: 1440px) {
  
    body{
        background-color: hsl(217, 54%, 11%);
       height: 100vh;
        font-family: Outfit;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
    }
    
    
    .component-container{
        background-color: hsl(216, 50%, 16%);
        height: 45rem;
        width: 25rem;
        border-radius: 1rem;
        padding: 1rem;
        box-shadow: 1rem 1rem 1rem 1rem hsl(215, 54%, 7%);
    }
    .img{
        position: relative;
    }
    #equi-img{
        height: 100%;
        width: 100%;
        display: block;
        opacity: 1;
        object-fit: contain;
        border-radius: 1rem;
        transition: .5s ease;
        backface-visibility: hidden;
    }
    
    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        background-color: rgba(0, 255, 247, 0.3);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      
    .img:hover .image {
        opacity: 0.3;
        
      }
      
      .img:hover .middle {
        opacity: 1;
      
      }
      
    .title{
        color:  hsl(0, 0%, 100%);
        font-size: 1.8rem;
        font-weight: 600;
        padding: 1rem 0 1rem 0;
    
    }
    .title:hover{
        color: hsl(178, 100%, 50%);
    }
    
    .description{
        font-family: "Outfit";
        font-size: 1.3rem;
        line-height: 1.9rem;
        font-weight: 300;
        color: hsl(215, 51%, 70%);
    }
    .eth-component{
       
    display: flex;
    justify-content: space-between;
    padding: 2rem 0 1.3rem 0;
    }
    #eth{
        font-weight: 400;
        color: hsl(178, 100%, 50%);
        font-size: 1.2rem;
    }
    #days{
        color: hsl(215, 51%, 70%);
        font-size: 1.2rem;
    }
    .line{
        border: 1px solid hsl(215, 32%, 27%);
    }
    .bottom-component{
        padding: 1rem 0 1rem 0;
        display: flex;
        align-items: center;
        justify-content:start;
    }
    
    #profile-photo{
        width: 10%;
        border: 1px solid white;
        border-radius: 50% ;
        margin-right: 2rem;
       
    }
    #author{
        font-size: 1.2rem;
        
    }
    #blue{
        color: hsl(215, 51%, 70%);
    }
    #white{
        color: white;
    }
    #white:hover{
          color: hsl(178, 100%, 50%);
        
    }
    
    
    .attribution {
    font-size: 11px; 
    position: fixed;
    bottom: 0;
    font-size: 2rem;
    color: white;
    }
    .attribution a {
     color: hsl(228, 45%, 44%);
    font-size: 2rem;
     }
    
    }